fallback "en"

struct "HoverStrings" {
  label inline=true
  full
  desc
}

struct "PresetStrings" default="presets.default" {
  saved_presets
  current (str)"current"
  current_empty
  new_name_hint
  (PresetErrors)errors
  (PresetActions)actions
}

struct "PresetErrors" default="presets.default.errors" {
  empty_name
  name_conflict
  cannot_delete_last
}

struct "PresetActions" default="presets.default.actions" {
  add
  rename
  delete
}
