tabs {
  menu {
    puzzle_view "New puzzle view"
    puzzle_library "Puzzle library"
    puzzle_info "Puzzle info"
    keybinds_reference "Keybinds reference"

    colors "Colors"
    styles "Styles"
    view "View"
    animations "Animations"

    interaction "Interaction"
    keybinds "Keybinds"
    mousebinds "Mousebinds"

    camera "Camera"
    image_generator "Image generator"
    macros "Macros"
    modifier_keys "Modifier keys"
    move_input "Move input"
    piece_filters "Piece filters"
    puzzle_controls "Puzzle controls"
    scrambler "Custom scrambler"
    timeline "Timeline"
    timer "Timer"

    lua_logs "Lua logs"
    dev_tools "Developer tools"

    debug "Debug output"
  }
  titles {
    puzzle_view "No Puzzle"
    puzzle_library "Puzzle Library"
    puzzle_info "Puzzle Info"
    keybinds_reference "Keybinds Reference"

    colors "Colors"
    styles "Styles"
    view "View"
    animations "Animations"

    interaction "Interaction"
    keybinds "Keybinds"
    mousebinds "Mousebinds"

    camera "Camera"
    image_generator "Image Generator"
    macros "Macros"
    modifier_keys "Modifier Keys"
    move_input "Move Input"
    piece_filters "Piece Filters"
    puzzle_controls "Puzzle Controls"
    scrambler "Scrambles"
    timeline "Timeline"
    timer "Timer"

    lua_logs "Lua Logs"
    dev_tools "Developer Tools"

    debug "Debug Output"
  }
}

top_bar {
  desktop_link "Download desktop app"
  desktop_link_hover r#"
    The desktop version of Hyperspeedcube has the same features, but runs faster.
  "#
}

menu {
  title "Menu"
  file {
    title "File"
    open "Open…"
    open_clipboard "Open from clipboard"
    save "Save"
    save_as "Save as…"
    copy_hsc "Copy (.hsc)"
    copy_log "Copy (.log)"
    exit "Exit"
  }
  edit {
    title "Edit"
    undo_twist "Undo twist"
    redo_twist "Redo twist"
    reset_puzzle "Reset puzzle"
  }
  scramble {
    title "Scramble"
    full "Full"
    one "1"
    two "2"
  }
  settings {
    title "Settings"
  }
  tools {
    title "Tools"
  }
  puzzles {
    title "Puzzles"
    custom "Custom puzzles"
    show_lua_dir "Show Lua directory"
    extract_lua "Extra built-in Lua files…"
  }
  help {
    title "Help"
    guides "Guides"
  }
  debug {
    title "Debug"
  }
}

click_to {
  activate "{{click}} to activate"
  copy_hex "{{click}} to copy hex"
  delete "{{click}} to delete"
  edit "{{click}} to edit"
  rename "{{click}} to rename"
  reorder "{{click}} to reorder"
}

inputs {
  click "**Click**"
  right_click "**Right-click**"
  middle_click "**Middle-click** or **alt + click**"
  drag "**Drag**"
}

statuses {
  saved "Saved!"
  copied "Copied!"
  error "Error: {{error}}"
}

reset "Reset"
reset_to_value "Reset to {{value}}"

no_active_puzzle "No active puzzle"

(HoverStrings)edit_as_plaintext {
  full "Edit as plaintext"
  desc "View and edit settings as plaintext to share them with others."
}

presets {
  save_changes "Save changes"
  create_current "Create {{current}}"
  overwrite_current "Overwrite {{current}}"

  default_preset_name "Default"

  // `default` is used as a fallback for others.
  (PresetStrings)_default {
    saved_presets "Saved presets"
    current "{{current}} preset"
    current_empty "No preset"
    new_name_hint "New preset name"
    (PresetErrors)errors {
      empty_name "Preset name cannot be empty"
      name_conflict "There is already a preset with this name"
      cannot_delete_last "Cannot delete last preset"
    }
    (PresetActions)actions {
      add "Add preset"
      rename "Rename preset"
      delete "Delete preset"
    }
  }

  (PresetStrings)animation_settings {
    current "{{current}} animation settings"
    current_empty "No animation settings"
  }
  (PresetStrings)interaction_settings {
    current "{{current}} interaction settings"
    current_empty "No interaction settings"
  }
  (PresetStrings)view_settings {
    current "{{current}} view settings"
    current_empty "No view settings"
  }
  (PresetStrings)piece_filters {
    saved_presets "Filter presets"
    current "{{current}} piece filters"
    current_empty "No piece filters"
  }
  (PresetStrings)color_schemes {
    saved_presets "Saved color schemes"
    current "{{current}} color scheme"
    current_empty "No color scheme"
    new_name_hint "New color scheme name"
    (PresetErrors)errors {
      empty_name "Color scheme name cannot be empty"
      name_conflict "There is already a color scheme with this name"
      cannot_delete_last "Cannot delete last color scheme"
    }
    (PresetActions)actions {
      add "Add color scheme"
      rename "Rename color scheme"
      delete "Delete color scheme"
    }
  }
  (PresetStrings)custom_styles {
    saved_presets "Custom styles"
    current "{{current}} style"
    current_empty "No style"
    new_name_hint "New style name"
    (PresetErrors)errors {
      empty_name "Style name cannot be empty"
      name_conflict "There is already a style with this name"
      cannot_delete_last "Cannot delete last custom style"
    }
    (PresetActions)actions {
      add "Add style"
      rename "Rename style"
      delete "Delete style"
    }
  }
}

prefs {
  animations {
    twists {
      title "Twists"
      (HoverStrings)dynamic_twist_speed "Dynamic twist speed" {
        desc r#"
          When enabled, the puzzle twists faster when many moves are queued up. When all queued moves are complete, the twist speed resets.
        "#
      }
      (HoverStrings)twist_duration "Twist duration"
      (HoverStrings)twist_interpolation "Twist interpolation"
      interpolations {
        (HoverStrings)lerp {
          label "Linear"
          desc r#"
            The speed throughout a turn is constant, with no easing.
          "#
        }
        (HoverStrings)cosine "Cosine"
        (HoverStrings)cubic "Cubic"
        (HoverStrings)circular {
          label "Circular"
          desc r#"
            Two quarter circles, with a single point of infinite speed at the halfway point.
          "#
        }
        (HoverStrings)bounce "Bounce"
        (HoverStrings)overshoot "Overshoot"
        (HoverStrings)underdamped {
          label "Underdamped"
          desc r#"
            Simulates a weakly damped harmonic oscillator.
          "#
        }
        (HoverStrings)critically_damped {
          label "Critically damped"
          desc r#"
            Simulates a damped harmonic oscillator with a damping force such that the animation completes as quickly as possible without overshooting.
          "#
        }
        (HoverStrings)critically_dried {
          label "Critically dried"
          desc r#"
            Same as critically damped, but reversed.
          "#
        }
        (HoverStrings)random {
          label "Random"
          desc r#"
            Why?
          "#
        }
        alignment "_{{alignment}}_"
        alignments {
          true_neutral "True Neutral"
          neutral_good "Neutral Good"
          neutral_evil "Neutral Evil"
          lawful_neutral "Lawful Neutral"
          lawful_good "Lawful Good"
          lawful_evil "Lawful Evil"
          chaotic_neutral "Chaotic Neutral"
          chaotic_good "Chaotic Good"
          chaotic_evil "Chaotic Evil"
          eldritch "Eldritch"
        }
      }
    }
    other {
      title "Other"
      (HoverStrings)blocking_animation_duration "Blocking animation duration" {
        desc r#"
          Duration of the animation when a piece is blocking a twist.
        "#
      }
    }
  }
  interaction {
    dialogs {
      title "Dialogs"
      (HoverStrings)confirm_discard_only_when_scrambled "Confirm discard only when scrambled" {
        desc r#"
          When enabled, a confirmation dialog before destructive actions (like resetting the puzzle)is only shown when the puzzle has been fully scrambled.
        "#
      }
    }
    reorientation {
      title "Reorientation"
      (HoverStrings)drag_sensitivity "Drag sensitivity"
      (HoverStrings)realign_puzzle_on_release "Realign puzzle on release" {
        desc r#"
          When enabled, the puzzle snaps back immediately when the mouse is released after dragging to rotate it.
        "#
      }
      (HoverStrings)realign_puzzle_on_keypress "Realign puzzle on keypress" {
        desc r#"
          When enabled, the puzzle snaps back immediately when the keyboard is used to grip or do a move.
        "#
      }
      (HoverStrings)smart_realign "Smart realign" {
        desc r#"
          When enabled, the puzzle snaps to the nearest similar orientation, not the original. This adds a full-puzzle rotation to the undo history.
        "#
      }
    }
  }
  view {
    projection {
      title "Projection"
      (HoverStrings)fov_4d "4D FOV"
      fov_3d {
        label "3D FOV"
        quake_pro "QUAKE PRO"
        orp_ekauq "ORP EKAUQ"
      }
    }
    geometry {
      title "Geometry"
      (HoverStrings)show_frontfaces "Show frontfaces"
      (HoverStrings)show_backfaces "Show backfaces"
      (HoverStrings)show_behind_4d_camera "Show behind 4D camera"
      (HoverStrings)show_internals "Show internals"
      (HoverStrings)gizmo_scale "Gizmo scale"
      (HoverStrings)facet_shrink "Facet shrink"
      (HoverStrings)sticker_shrink "Sticker shrink"
      (HoverStrings)piece_explode "Piece explode"
      disabled_when_showing_internals "Disabled when showing internals"
    }
    lighting {
      title "Lighting"
      (HoverStrings)pitch "Pitch"
      (HoverStrings)yaw "Yaw"
      intensity {
        (HoverStrings)faces "Intensity (faces)"
        (HoverStrings)outlines "Intensity (outlines)" {
          desc r#"
            This is also enabled or disabled for each style in the style settings. For dark outline colors, it may have little or no effect.
          "#
        }
      }
    }
    performance {
      title "Performance"
      (HoverStrings)downscale_factor "Downscale factor"
      (HoverStrings)downscale_interpolation "Downscale interpolation"
    }
  }
}

colors {
  color_schemes "Color schemes"
  global_palette "Global color palette"
  singles "Single colors"
  gradients "Gradients"
  custom "Custom colors"
  builtin "Built-in colors"
  builtin_sets "Built-in color sets"

  misc {
    title "Miscellaneous colors"
    (HoverStrings)dark_background "Background (dark mode)"
    (HoverStrings)light_background "Background (light mode)"
    (HoverStrings)internal_faces "Internal faces"
    (HoverStrings)blocking_pieces_outlines "Blocking pieces outlines"
  }
  actions {
    add "Add color"
    rename "Rename color"
    delete "Delete color"
    sort "Sort colors"
    sort_by_name "Sort by name"
    sort_by_lightness "Sort by lightness (Oklab)"
    sort_by_count "Sort by count"
    sort_by_color "Sort by color"
  }
  errors {
    empty_name "Color name cannot be empty"
    name_conflict "There is already a color with this name"
  }

  builtin_gradient "Built-in gradient"
  puzzle_color_popup_title "{{puzzle_color}} color"
  warning_save_changes "Don't forget to save your changes in the color scheme settings!"

  set_sizes {
    _1 "Monads"
    _2 "Dyads"
    _3 "Triads"
    _4 "Tetrads"
    _5 "Pentads"
    _6 "Hexads"
    _7 "Heptads"
    _8 "Octads"
    _9 "Nonads"
    _10 "Decads"
    n "{{n}}-ads"
  }
}

styles {
  misc {
    title "Miscellaneous styles"
    background {
      title "Background"
      (HoverStrings)dark_mode "Dark mode"
      (HoverStrings)light_mode "Light mode"
    }
    internals {
      title "Internals"
      (HoverStrings)face_color "Face color" {
        full "Internal faces color"
        desc r#"
          For 3D puzzles, it's sometimes possible to view the internal faces of pieces, particularly mid-turn or using **piece explode**. You can configure whether internal faces are visible in **view settings**.
        "#
      }
    }
    blocking_pieces {
      title "Blocking pieces"
      (HoverStrings)outlines_color {
        label "Outlines color"
        full "Blocking pieces outlines color"
        desc r#"
          Outline color for pieces blocking a move. This is only visible for puzzles that bandage.
        "#
      }
      (HoverStrings)outlines_size {
        label "Outlines size"
        full "Blocking pieces outlines size"
        desc r#"
          Outline size for pieces blocking a move. This is only visible for puzzles that bandage.
        "#
      }
    }
  }
  builtin {
    title "Built-in style"
    default "Default"
    gripped "Gripped"
    ungripped "Ungripped"
    hovered "Hovered"
    selected "Selected"
    blindfolded "Blindfolded"
  }
  custom {
    sticker_faces "Faces"
    sticker_outlines "Outlines"
    (HoverStrings)interactable "Interactable"
    (HoverStrings)opacity "Opacity"
    (HoverStrings)outline_size "Size"
    (HoverStrings)lighting {
      label "Lighting"
      desc "Lighting intensity can be configured in the **view settings**."
    }
  }
  color_mode {
    default "Default color"
    sticker "Sticker color"
    fixed "Fixed color"
  }
  color_mode_reset {
    default "default color"
    sticker "sticker color"
    fixed "fixed color {{color}}"
  }
}

camera {
  reset "Reset camera"
  w_axis_hint "Hold {{modifier}} to rotate through W axis"
  v_axis_hint "Hold {{modifier}} to rotate through V axis"
}

_debug {
  _disabled "Debug info is disabled in release builds"
}

dev {
  hover_info "Hover info"
  lua_generator "Lua generator"
  logs {
    clear "Clear logs"
    filter "Filter:"
  }
}

image_generator {
  save_image "Save image"
  errors {
    no_output_dir "No output directory"
    no_output_filename "No output filename"
    no_active_puzzle "No active puzzle"
  }
  already_exists_confirm "File already exists; click again if you want to overwrite"
  browse "Browse …"
  select_output_dir "Select image output directory"
}

library {
  reload_all_files "Reload all files"
}

piece_filters {
  presets_list "Presets list"
  current_preset "Current preset"
  both "Both"

  add_preset "Add filter preset"
  add_sequence "Add filter sequence"
  ignore_previous "Ignore previous"
  include_privous "Include previous"
  cant_save "Add a preset in the presets list"

  show_n_pieces_with_style "Show **{{n}}** pieces with style"
  show_remaining_peices_with_style "Show remaining pieces with style"
  n_match_previous_rule "(**{{n}}** pieces match a previous rule instead)"
  convert_to_text_rule "Convert to text rule"
  delete_rule "Delete rule"
  add_checkboxes_rule "Add filter rule using checkboxes"
  add_text_rule "Add filter rule using text"

  colors "Colors"
  piece_types "Piece types"
}

puzzle_view {
  select_a_puzzle "Select a puzzle from the puzzle list"
}

help {
  custom_piece_styles r#"
    # Custom piece styles

    Custom styles can be applied to pieces using the **piece filters** tool.
  "#
  color_assignments r#"
    # Color assignments

    Each facet on the puzzle is assigned a different color.
    {{dragging?
    Drag a facet name to assign a different color to it.
    }}
    In addition to the color scheme settings, you can **{{color_reassign_mousebind}}** a sticker to change its color assignment.

    - Single colors are best for small puzzles
    - Color sets are best for medium puzzles
    - Gradients are best for large puzzles
    - Colors within a color set are designed to contrast with each other and with other color sets of the same size

    Color values can be customized in the **global color palette** settings.
  "#
  global_color_palette r#"
    # Global color palette

    The global color palette provides a way to change colors across all puzzles at once.

    For example, you can select a particular shade of red to use on every puzzle with red stickers.

    ## Color sets

    Some colors are organized into sets of colors that are similar but still contrast with each other.

    For example, a puzzle with two different shades of red needs those shades to be distinguishable, so it uses the "red dyad" from the global color palette.

    ## Color schemes

    The color scheme for any particular puzzle can be customized in the **color scheme** settings.
  "#
  piece_filter_presets r#"
    # Piece filter presets

    TODO: explain filter presets
  "#
  piece_filters r#"
    # Piece filters

    TODO: explain filters
  "#
  presets r#"
    # Presets

    A **preset** is a saved set of values that can be loaded at any time.

    - **Click** the `+` button to create a preset
    - **Click** a preset to activate it
    - **Right-click** a preset to rename or delete it
    - **Drag** a preset to reorder it

    Loading a preset discards unsaved changes.
  "#
}

_crash {
  _app_crashed "{{app}} crashed"
  _crash_report_saved r#"
    A crash report has been saved to "{{loc}}"

    Please submit this to the developer
  "#
  _error_saving_crash_report r#"
    Error saving crash report
  "#
}
