hello "Hello, world!"

click_to {
  activate "{{click}} to activate"
  copy_hex "{{click}} to copy hex"
  delete "{{click}} to delete"
  edit "{{click}} to edit"
  rename "{{click}} to rename"
  reorder "{{click}} to reorder"
}

inputs {
  click "**Click**"
  right_click "**Right-click**"
  middle_click "**Middle-click** or **alt + click**"
  drag "**Drag**"
}

statuses {
  copied "Copied!"
}

reset "Reset"
reset_to_value "Reset to {{value}}"

(HoverStrings)edit_as_plaintext {
  full "Edit as plaintext"
  desc "View and edit settings as plaintext to share them with others."
}

presets {
  save_changes "Save changes"
  create_current "Create {{current}}"
  overwrite_current "Overwrite {{current}}"

  default_preset_name "Default"

  // `default` is used as a fallback for others.
  (PresetStrings)default {
    saved_presets "Saved presets"
    current "{{current}} preset"
    current_empty "No preset"
    new_name_hint "New preset name"
    (PresetErrors)errors {
      empty_name "Preset name cannot be empty"
      name_conflict "There is already a preset with this name"
      cannot_delete_last "Cannot delete last preset"
    }
    (PresetActions)actions {
      add "Add preset"
      rename "Rename preset"
      delete "Delete preset"
    }
  }

  (PresetStrings)animation_settings {
    current "{{current}} animation settings"
    current_empty "No animation settings"
  }
  (PresetStrings)interaction_settings {
    current "{{current}} interaction settings"
    current_empty "No interaction settings"
  }
  (PresetStrings)view_settings {
    current "{{current}} view settings"
    current_empty "No view settings"
  }
  (PresetStrings)piece_filters {
    current "{{current}} piece filters"
    current_empty "No piece filters"
  }
  (PresetStrings)color_schemes {
    saved_presets "Saved color schemes"
    current "{{current}} color scheme"
    current_empty "No color scheme"
    new_name_hint "New color scheme name"
    (PresetErrors)errors {
      empty_name "Color scheme name cannot be empty"
      name_conflict "There is already a color scheme with this name"
      cannot_delete_last "Cannot delete last color scheme"
    }
    (PresetActions)actions {
      add "Add color scheme"
      rename "Rename color scheme"
      delete "Delete color scheme"
    }
  }
  custom_styles {
    saved_presets "Custom styles"
    current "{{current}} style"
    current_empty "No style"
    new_name_hint "New style name"
    errors {
      empty_name "Style name cannot be empty"
      name_conflict "There is already a style with this name"
      cannot_delete_last "Cannot delete last custom style"
    }
    actions {
      add "Add style"
      rename "Rename style"
      delete "Delete style"
    }
  }
}

prefs {
  animations {
    twists {
      title "Twists"
      (HoverStrings)dynamic_twist_speed "Dynamic twist speed" {
        desc r#"
          When enabled, the puzzle twists faster when many moves are queued up. When all queued moves are complete, the twist speed resets.
        "#
      }
      (HoverStrings)twist_duration "Twist duration"
    }
    other {
      title "Other"
      (HoverStrings)blocking_animation_duration "Blocking animation duration" {
        desc r#"
          Duration of the animation when a piece is blocking a twist.
        "#
      }
    }
  }
  interaction {
    dialogs {
      title "Dialogs"
      (HoverStrings)confirm_discard_only_when_scrambled "Confirm discard only when scrambled" {
        desc r#"
          When enabled, a confirmation dialog before destructive actions (like resetting the puzzle)is only shown when the puzzle has been fully scrambled.
        "#
      }
    }
    reorientation {
      title "Reorientation"
      (HoverStrings)drag_sensitivity "Drag sensitivity"
      (HoverStrings)realign_puzzle_on_release "Realign puzzle on release" {
        desc r#"
          When enabled, the puzzle snaps back immediately when the mouse is released after dragging to rotate it.
        "#
      }
      (HoverStrings)realign_puzzle_on_keypress "Realign puzzle on keypress" {
        desc r#"
          When enabled, the puzzle snaps back immediately when the keyboard is used to grip or do a move.
        "#
      }
      (HoverStrings)smart_realign "Smart realign" {
        desc r#"
          When enabled, the puzzle snaps to the nearest similar orientation, not the original. This adds a full-puzzle rotation to the undo history.
        "#
      }
    }
  }
  styles {
    misc {
      title "Miscellaneous styles"
      background {
        title "Background"
        dark_mode "Dark mode"
        light_mode "Light mode"
      }
      internals {
        title "Internals"
        (HoverStrings)face_color "Face color" {
          full "Internal faces color"
          desc r#"
            For 3D puzzles, it's sometimes possible to view the internal faces of pieces, particularly mid-turn or using **piece explode**. You can configure whether internal faces are visible in **view settings**.
          "#
        }
      }
      blocking_pieces {
        title "Blocking pieces"
        (HoverStrings)outlines_color {
          label "Outlines color"
          full "Blocking pieces outlines color"
          desc r#"
            Outline color for pieces blocking a move. This is only visible for puzzles that bandage.
          "#
        }
        (HoverStrings)outlines_size {
          label "Outlines size"
          full "Blocking pieces outlines size"
          desc r#"
            Outline size for pieces blocking a move. This is only visible for puzzles that bandage.
          "#
        }
      }
    }
    builtin {
      title "Built-in style"
      default "Default"
      gripped "Gripped"
      ungripped "Ungripped"
      hovered "Hovered"
      selected "Selected"
      blindfolded "Blindfolded"
      current_style "{{current}} style"
    }
    color_mode {
      default "Default color"
      sticker "Sticker color"
      fixed "Fixed color"
    }
    color_mode_reset {
      default "default color"
      sticker "sticker color"
      fixed "fixed color {{color}}"
    }
  }
  view {
    projection {
      title "Projection"
      (HoverStrings)fov_4d "4D FOV"
      fov_3d {
        label "3D FOV"
        quake_pro "QUAKE PRO"
        orp_ekauq "ORP EKAUQ"
      }
    }
    geometry {
      title "Geometry"
      (HoverStrings)show_frontfaces "Show frontfaces"
      (HoverStrings)show_backfaces "Show backfaces"
      (HoverStrings)show_behind_4d_camera "Show behind 4D camera"
      (HoverStrings)show_internals "Show internals"
      (HoverStrings)gizmo_scale "Gizmo scale"
      (HoverStrings)facet_shrink "Facet shrink"
      (HoverStrings)sticker_shrink "Sticker shrink"
      (HoverStrings)piece_explode "Piece explode"
      (HoverStrings)disabled_when_showing_internals "Disabled when showing internals"
    }
    lighting {
      title "Lighting"
      (HoverStrings)pitch "Pitch"
      (HoverStrings)yaw "Yaw"
      intensity {
        (HoverStrings)faces "Intensity (faces)"
        (HoverStrings)outlines "Intensity (outlines)" {
          desc r#"
            This is also enabled or disabled for each style in the style settings. For dark outline colors, it may have little or no effect.
          "#
        }
      }
    }
    performance {
      title "Performance"
      (HoverStrings)downscale_factor "Downscale factor"
      (HoverStrings)downscale_interpolation "Downscale interpolation"
    }
  }
}
colors {
  global_palette "Global color palette"
  custom "Custom colors"
  singles "Single colors"
  gradients "Gradients"
  builtin "Built-in colors"
  builtin_sets "Built-in color sets"

  misc {
    dark_background "Background (dark mode)"
    light_background "Background (light mode)"
    internal_faces "Internal faces"
    blocking_pieces_outlines "Blocking pieces outlines"
  }
  actions {
    add "Add color"
    rename "Rename color"
    delete "Delete color"
    sort "Sort colors"
    sort_by_name "Sort by name"
    sort_by_lightness "Sort by lightness (Oklab)"
    sort_by_count "Sort by count"
    sort_by_color "Sort by color"
  }
  errors {
    empty_name "Color name cannot be empty"
    name_conflict "There is already a color with this name"
  }

  builtin_gradient "Built-in gradient"
  puzzle_color_popup_title "{{puzzle_color}} color"
  warning_save_changes "Don't forget to save your changes in the color scheme settings!"
}

help {
  custom_piece_styles r#"
    # Custom piece styles

    Custom styles can be applied to pieces using the **piece filters** tool.
  "#
  color_assignments_drag_reassign "Drag a facet name to assign a different color to it."
  color_assignments r#"
    # Color assignments

    Each facet on the puzzle is assigned a different color.

    {{dragging}}

    In addition to the color scheme settings, you can **{{color_reassign_mousebind}}** a sticker to change its color assignment.

    - Single colors are best for small puzzles
    - Color sets are best for medium puzzles
    - Gradients are best for large puzzles
    - Colors within a color set are designed to contrast with each other and with other color sets of the same size

    Color values can be customized in the **global color palette** settings.
  "#
  global_color_palette r#"
    # Global color palette

    The global color palette provides a way to change colors across all puzzles at once.

    For example, you can select a particular shade of red to use on every puzzle with red stickers.

    ## Color sets

    Some colors are organized into sets of colors that are similar but still contrast with each other.

    For example, a puzzle with two different shades of red needs those shades to be distinguishable, so it uses the "red dyad" from the global color palette.

    ## Color schemes

    The color scheme for any particular puzzle can be customized in the **color scheme** settings.
  "#
  piece_filter_presets r#"
    # Piece filter presets

    TODO: explain filter presets
  "#
  piece_filters r#"
    # Piece filters

    TODO: explain filters
  "#
  presets r#"
    # Presets

    A **preset** is a saved set of values that can be loaded at any time.

    - **Click** the `+` button to create a preset
    - **Click** a preset to activate it
    - **Right-click** a preset to rename or delete it
    - **Drag** a preset to reorder it

    Loading a preset discards unsaved changes.
  "#
}
