__schema 1 // Bump this version when adding new required tags

(int)schema "Tag schema" expected=0 hidden=#true

__heading "Type"
generator "Generator" auto=#true

__separator

__heading "Construction"
solid "Solid"
tiling "Tiling"
soup "Soup"

__separator

__heading "Space"
(int)ndim "Dimension" list=#true expected=1 {
  generic "Dimension-generic"
}

__separator

__heading "Properties"
(str)twists "Twists" list=#true
(str)colors "Colors" list=#true
algebraic "Algebraic" include_in_tag=#false {
  bandaged "Bandaged"
  doctrinaire "Doctrinaire"
  jumbling "Jumbling"

  pseudobandaged "Pseudobandaged"
  pseudodoctrinaire "Pseudodoctrinaire"
  pseudojumbling "Pseudojumbling"
}

// __separator
// __heading "Categories"
// family "Family" expected=1 {
//   gap "Gap" {
//     sliding "Sliding gap"
//     rotating "Rotating gap"
//   }
//   multicore "Multicore" {
//     bubbloid "Bubbloid"
//     siamese "Siamese"
//   }
//   bermuda "Bermuda"
//   clock "Clock"
//   cuboid "Cuboid"
//   fenzy "Fenzy"
//   loopover "Loopover"
//   mixup "Mixup"
//   radiolarian "Radiolarian"
//   skewb "Skewb"
//   square_one "Square-1"
//   weirdling "Weirdling"
// }
// meme "Meme" expected=1

__separator

__heading "Attribution"
(str_list)author "Author" expected=1 list=#true
(str_list)inventor "Inventor" expected=1 list=#true

__separator

__heading "Miscellaneous"
// solved "Solved" auto=#true
leaderboard "Leaderboard"
(str)canonical_id "Canonical ID for record-keeping" hidden=#true
(str)stable "Stable" hidden=#true expected=1 // program version that first had this puzzle stable
experimental "Experimental" auto=#true
big "Big (slow to generate)"
